<% provide(:title, @category.name) %>

<h4>カテゴリー：<%= @category.parent.name %>/<%= @category.name %></h4>

<% @posts.each do |post| %>
  <%= link_to(questions_post_path(post)) do %>
    <%= image_tag asset_path(post.user.profile_picture) %>
    <%= post.user.name %>
    <%= post.title %>
  <% end %>
<% end %>

<%= paginate @posts %>
