<h3>質問作成</h3>

<%= form_with model: post, url: url, method: method, local: true do |f| %>

  <div class="filed">
    <%= f.label :category_id, "カテゴリー" %>
    <%= select_tag "parent_category", options_for_select(@parent_categories.map{|c| [c.name, c.id]}, selected: @selected_parent_category&.id) %>
    <%= f.select :category_id, options_for_select(@children_categories.map{|c| [c.name, c.id]}), {}, {id: "children_category"} %>
  </div>

  <div class="field">
    <%= f.label :title, "質問タイトル" %><br />
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :content, "質問内容" %><br />
    <%= f.text_area :content %>
  </div>

  <div class="field">
    <%= f.fields_for :pictures do |picture| %>
      <%= picture.file_field :picture, multiple: "multiple", name: "post_form[pictures_attributes][][picture]" %>
    <% end %>
  </div>


  <div class="actions">
    <%= f.submit "保存" %>
  </div>

<% end%>
