<h4>質問検索</h4>

<%= search_form_for @post_search, url: searches_questions_path do |f| %>

  <div class="filed">
    <%= f.label :category_id_eq, "カテゴリー" %><br />
    <%= select_tag "parent_category_for_search", options_for_select(@parent_categories_for_search.map{|c| [c.name, c.id]}) %>
    <%= f.select :category_id_eq, options_for_select(@children_categories_for_search.map{|c| [c.name, c.id]}), {}, {id: "children_category_for_search"} %>
  </div>

  <div class="field">
    <%= f.label :content_cont_any, "キーワード" %><br />
    <%= f.text_field :content_cont_any %>
    <p>スペース区切りで複数検索できます</p><br />
  </div>

  <div class="actions">
    <%= f.submit "検索" %>
  </div>

<% end%>
