<% provide(:title, @post.title)%>

<h4>質問内容</h4>
<% if @post.user_id == current_user.id %>
  <%= link_to "質問の編集", edit_questions_post_path(@post.id) %>
<% end %>

<%= @post.category.name %>
<%= @post.status %>
<%= @post.title %>
<%= @post.content %>

<% if @post.pictures.present? %>
  <% @post.pictures.each do |picture| %>
    <%= image_tag picture.picture.url %>
  <% end %>
<% end %>

<%# 質問に対する回答数 %>
<% if @answers.present? %>
  <h4>回答<%= @answers&.length %></h4>
<% else %>
  <h4>回答はまだついていません</h4>
<% end %>

<%# 回答と回答に紐づいたリプライを表示 %>
<% @answers&.each do |answer| %>
  <div class="display-answer">
    <%= answer.body %>
    <% answer.pictures.each do |picture| %>
      <%= image_tag picture.picture.url %>
    <% end %>
  </div>
  <ul id="display-reply-<%= answer.id %>">
    <% answer.replies&.each do |reply| %>
      <div class="reply-components">
        <div class="reply-username"><%= reply.user.name %></div>
        <div class="reply-createdat"><%= reply.created_at %></div>
        <div class="reply-body"><%= reply.body %></div>
        <div class="reply-pictures">
          <% reply.pictures.each do |picture| %>
            <%= image_tag picture.picture.url %>
          <% end %>
        </div>
      </div>
    <% end %>
  </ul>
  <%= render "questions/shared/reply_form", reply: @reply, answer: answer, url: questions_replies_path, method: :post %>
<% end %>

<%# まだ回答していない場合は回答用のフォームを表示 %>
<% if @your_answer.blank? %>
  <h4>あなたの回答</h4>
  <%= render "questions/shared/answer_form", reply: @reply, answer: @answer, url: questions_answers_path, method: :post %>
<% end %>
