<% provide(:title, @post.title)%>

<div class="display-post">
  <div class="post-container">
    <div class="post-container__post-info">
      <div class="post-container__category">
        <%= link_to(questions_category_path(@post.category_id)) do %>
          <p><%= @post.category.parent.name %> > <%= @post.category.name %></p>
        <% end %>
      </div>
      <div class="post-container__title">
        <h5><%= @post.title %></h5>
      </div>
      <div class="post-container__status">
        <p class="post-status-<%= @post.status %>"><%= @post.translated_status %></p>
        <span>投稿 <%= l @post.created_at, format: :year %></span>
      </div>
    </div>
    <div class="post-container__content">
      <%= @post.content %>
    </div>
    <% unless @post.pictures.blank? %>
      <div class="post-container__pictures">
        <% if @post.pictures.present? %>
          <% @post.pictures.each do |picture| %>
            <%= image_tag asset_path(picture.picture.url), class:"popup-img" %>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <% if @post.user_id == current_user&.id %>
      <div class="post-container__edit">
        <%= link_to(edit_questions_post_path(@post.id)) do %>
          <i class="fas fa-pen"></i>
          <p>編集</p>
        <% end %>
      </div>
    <% end %>
    <div class="post-container__user-info">
      <%= link_to(users_basic_path(@post.user)) do %>
        <%= image_tag asset_path(@post.user.profile_picture) %>
        <span><%= @post.user.name %></span>
      <% end %>
    </div>
  </div>
</div>

<!-- 質問に対する回答数 -->
<div class="num-of-answers">
  <% if @answers.present? %>
    <h5>回答 <span><%= @answers&.length %></span> 件</h5>
  <% else %>
    <h5>回答はまだついていません</h5>
  <% end %>
</div>

<!-- 回答と回答に紐づいたリプライを表示 -->
<div class="display-comment">
  <% @answers&.each do |answer| %>
    <div class="comment-container">
      <%# 回答%>
      <div class="answer-container">
        <div class="answer-container__details">
          <% if @post.best_answer_id == answer.id %>
            <div class="answer-container__best-answer-title">
              <span>ベストアンサー</span>
            </div>
          <% end %>
          <div id="answer-container__body-<%= answer.id %>" class="answer-container__body">
            <%= answer.body %>
          </div>
          <% unless answer.pictures.blank? %>
            <div id="answer-container__pictures-<%= answer.id %>" class="answer-container__pictures">
              <% answer.pictures.each do |picture| %>
                <%= image_tag asset_path(picture.picture.url), class:"popup-img" %>
              <% end %>
            </div>
          <% end %>
          <div id="edit-answer-form-<%= answer.id %>" class="edit-answer-form hide">
            <%= render "questions/shared/answers/edit_answer_form", answer_form: @answer, answer: answer, post: @post, url: questions_answer_path(answer), method: :patch %>
          </div>
        </div>
        <!-- 回答下部の編集ボタンとユーザー情報 -->
        <% if current_user&.id == answer.user_id %>
          <div class="answer-container__edit">
            <i id="edit-answer-icon-<%= answer.id %>" class="fas fa-pen edit-answer-icon" data-answer-id="<%= answer.id %>"> 編集</i>
          </div>
        <% end %>
        <% if current_user&.id == @post.user_id && @post.best_answer_id.blank? %>
          <div id="best-answer-<%= answer.id %>" class="best-answer-button">
            <%= render "questions/shared/best_answer_form", post: PostForm.new, answer: answer, url: select_best_answer_questions_post_path(@post), method: :patch %>
          </div>
        <% end %>
        <div class="answer-container__user-info">
          <div class="answer-container__img-and-name">
            <%= link_to(users_basic_path(answer.user)) do%>
              <%= image_tag asset_path(answer.user.profile_picture) %>
              <span><%= answer.user.name %></span>
            <% end %>
          </div>
          <div class="answer-container__created_at">
            <span>投稿 <%= l answer.created_at, format: :year %></span>
          </div>
        </div>
      </div>
      <!-- 回答に紐づくリプライ -->
      <div id="reply-container-<%= answer.id %>" class="reply-container">
        <% answer.replies&.order(created_at: :asc).each do |reply| %>
          <div id="reply-container__list-<%= reply.id %>" class="reply-container__list">
            <div id="reply-container__body-<%= reply.id %>" class="reply-container__body">
              <%= reply.body %>
            </div>
            <% unless reply.pictures.blank? %>
              <div id="reply-container__pictures-<%= reply.id %>" class="reply-container__pictures">
                <% reply.pictures.each do |picture| %>
                  <%= image_tag asset_path(picture.picture.url), class:"popup-img" %>
                <% end %>
              </div>
            <% end %>
            <div id="edit-reply-form-<%= reply.id %>" class="edit-reply-form hide">
              <%= render "questions/shared/replies/edit_reply_form", reply_form: @reply, reply: reply, answer: answer, post: @post, url: questions_reply_path(reply), method: :patch %>
            </div>
            <% if current_user&.id == reply.user_id %>
              <div class="reply-container__edit">
                <i id="edit-reply-icon-<%= reply.id %>" class="fas fa-pen edit-reply-icon" data-reply-id="<%= reply.id %>"> 編集</i>
              </div>
            <% end %>
            <!-- リプライ下部のユーザー情報 -->
            <div class="reply-container__user-info">
              <div class="reply-container__img-and-name">
                <%= link_to(users_basic_path(reply.user)) do %>
                  <%= image_tag asset_path(reply.user.profile_picture) %>
                  <span><%= reply.user.name %></span>
                <% end %>
              </div>
              <div class="reply-container__created_at">
                <span>投稿 <%= l reply.created_at, format: :year %></span>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <%= render "questions/shared/replies/new_reply_form", reply: @reply, answer: answer, post: @post, url: questions_replies_path, method: :post %>
    </div>
  <% end %>
</div>
<div id="popup-background"></div>
<img id="popup-item" src="" />

<div id="your-answer">
  <!-- 自分の質問以外の質問に対して、まだ回答していない場合は回答用のフォームを表示 -->
  <% if @your_answer.blank? && @post.user_id != current_user&.id %>
    <h4>あなたの回答</h4>
    <%= render "questions/shared/answers/new_answer_form", reply: @reply, answer: @answer, url: questions_answers_path, method: :post %>
  <% end %>

  <!-- 自分の質問を自己解決できた場合に解決方法を記入するフォームを表示 -->
  <% if @your_answer.blank? && @post.user_id == current_user&.id %>
    <h4>解決方法（自己解決の場合のみ記入してください）</h4>
    <%= render "questions/shared/answers/new_answer_form", reply: @reply, answer: @answer, url: questions_answers_path, method: :post %>
  <% end %>
</div>
