<% provide(:title, @post.title)%>

<h4>質問内容</h4>
<% if @post.user_id == current_user&.id %>
  <%= link_to "質問の編集", edit_questions_post_path(@post.id) %>
<% end %>

<div class="display-post">
  <div class="post-contents">
    <div class="post-user-information">
      <%= image_tag asset_path(@post.user.profile_picture) %>
      <p><%= @post.user.name %></p>
    </div>
    <div class="post-contents-category"><%= @post.category.name %></div>
    <div class="post-contents-status"><%= @post.translated_status %></div>
    <div class="post-contents-title"><%= @post.title %></div>
    <div class="post-contents-content"><%= @post.content %></div>
    <div class="post-contents-pictures">
      <% if @post.pictures.present? %>
        <% @post.pictures.each do |picture| %>
          <%= image_tag picture.picture.url %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>


<%# 質問に対する回答数 %>
<div class="num-of-answers">
  <% if @answers.present? %>
    <h4>回答<%= @answers&.length %></h4>
  <% else %>
    <h4>回答はまだついていません</h4>
  <% end %>
</div>

<%# 回答と回答に紐づいたリプライを表示 %>
<div class="comment-list">
  <% @answers&.each do |answer| %>
    <div id="display-<%= answer.id %>">
      <div id="display-answer-<%= answer.id %>">
        <div id="answer-contents-<%= answer.id %>">
          <% if @post.best_answer_id == answer.id %>
            <div class="answer-best">
              <span>ベストアンサー</span>
            </div>
          <% end %>
          <div class="answer-user-information">
            <%= image_tag asset_path(answer.user.profile_picture) %>
            <p><%= answer.user.name %></p>
          </div>
          <div class="answer-createdat"><%= l answer.created_at, format: :year %></div>
          <div class="answer-body"><%= answer.body %></div>
          <div class="answer-pictures">
            <% answer.pictures.each do |picture| %>
              <%= image_tag picture.picture.url %>
            <% end %>
          </div>
          <% if current_user&.id == @post.user_id && @post.best_answer_id.blank? %>
            <div id="best-answer-<%= answer.id %>">
              <%= render "questions/shared/best_answer_form", post: PostForm.new, answer: answer, url: select_best_answer_questions_post_path(@post), method: :patch %>
            </div>
          <% end %>
          <% if current_user&.id == answer.user_id %>
            <i class="fas fa-pen edit-answer-icon" data-answer-id="<%= answer.id %>"></i>
          <% end %>
        </div>
        <div id="edit-answer-form-<%= answer.id %>" class="edit-answer-form hide">
          <%= render "questions/shared/answers/edit_answer_form", answer_form: @answer, answer: answer, post: @post, url: questions_answer_path(answer), method: :patch %>
        </div>
      </div>
      <div id="display-reply-<%= answer.id %>">
        <% answer.replies&.order(created_at: :asc).each do |reply| %>
          <div id="reply-contents-<%= reply.id %>">
            <div class="reply-user-information">
              <%= image_tag asset_path(reply.user.profile_picture) %>
              <p><%= reply.user.name %></p>
            </div>
            <div class="reply-createdat"><%= l reply.created_at, format: :year %></div>
            <div class="reply-body"><%= reply.body %></div>
            <div class="reply-pictures">
              <% reply.pictures.each do |picture| %>
                <%= image_tag picture.picture.url %>
              <% end %>
            </div>
            <% if current_user&.id == reply.user_id %>
              <i id="edit-reply-icon-<%= reply.id %>" class="fas fa-pen edit-reply-icon" data-reply-id="<%= reply.id %>"></i>
            <% end %>
          </div>
          <div id="edit-reply-form-<%= reply.id %>" class="edit-reply-form hide">
            <%= render "questions/shared/replies/edit_reply_form", reply_form: @reply, reply: reply, answer: answer, post: @post, url: questions_reply_path(reply), method: :patch %>
          </div>
        <% end %>
      </div>
      <%= render "questions/shared/replies/new_reply_form", reply: @reply, answer: answer, post: @post, url: questions_replies_path, method: :post %>
    </div>
  <% end %>
</div>

<div id="your-answer">
  <%# 自分の質問以外の質問に対して、まだ回答していない場合は回答用のフォームを表示 %>
  <% if @your_answer.blank? && @post.user_id != current_user&.id %>
    <h4>あなたの回答</h4>
    <%= render "questions/shared/answers/new_answer_form", reply: @reply, answer: @answer, url: questions_answers_path, method: :post %>
  <% end %>

  <%# 自分の質問を自己解決できた場合に解決方法を記入するフォームを表示 %>
  <% if @your_answer.blank? && @post.user_id == current_user&.id %>
    <h4>解決方法（自己解決の場合のみ記入してください）</h4>
    <%= render "questions/shared/answers/new_answer_form", reply: @reply, answer: @answer, url: questions_answers_path, method: :post %>
  <% end %>
</div>
