<% provide(:title, "プロフィール設定") %>

<h3>プロフィール設定</h3>

<%= form_with model: profile_form, url: url, method: method,  local: true do |f| %>
  <%= render "users/shared/error_messages", resource: profile_form %>

  <div class="field">
    <%= f.label :affiliation %>
    <%= f.select(:affiliation, { 大学生: '大学生', 大学院生: '大学院生', 高専生: '高専生', 専門学生: '専門学生', 社会人: '社会人', その他: 'その他'}, selected: profile.affiliation ) %>
  </div>

  <div class="field">
    <%= f.label :school %><br />
    <%= f.text_field :school, value: "#{profile.school}" %>
  </div>

  <div class="field">
    <%= f.label :faculty %><br />
    <%= f.text_field :faculty, value: "#{profile.faculty}" %>
  </div>

  <div class="field">
    <%= f.label :department %><br />
    <%= f.text_field :department, value: "#{profile.department}" %>
  </div>

  <div class="field">
    <%= f.label :laboratory %><br />
    <%= f.text_field :laboratory, value: "#{profile.laboratory}" %>
  </div>

  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content, value: "#{profile.content}" %>
  </div>

  <div class="actions">
    <%= f.submit "保存" %>
  </div>

<% end%>
