<div class="message-field__content">
  <div class="message-field__profile">
    <% if message.user_id != current_user.id %>
      <%= link_to(users_basic_path(message.user)) do %>
        <%= image_tag message.user.profile_picture %>
      <% end %>
    <% end %>
  </div>
  <div id="message-id-<%= message.id %>" class="message-field__message" >
    <%= simple_format(message.body) %>
    <% message.pictures.each do |message_picture| %>
      <%= image_tag message_picture.picture.url , class:"popup-img"%>
    <% end %>
  </div>
  <div class="message-field__created_at">
    <p><%= l message.created_at %></p>
  </div>
  <% if message.user_id == current_user.id %>
    <div id ="message-id-<%= message.id %>__menu" class="message-field__menu">
      <ul>
        <li>
          <%= form_for(@message, url: users_message_path(message.id), method: :delete, local: true) do |f| %>
            <%= f.submit "削除", data: { confirm: "本当に削除しますか？"} %>
          <% end %>
        </li>
      </ul>
    </div>
  <% end %>
</div>
<br />
