<div class="message-field__content">
  <div class="message-field__profile">
    <%= link_to(users_basic_path(message.user)) do %>
      <% if message.user.picture? %>
        <%= image_tag message.user.picture.url %>
      <% else %>
        <%= image_tag 'default.jpeg' %>
      <% end %>
    <% end %>
  </div>
  <div class="message-field__message">
    <%= simple_format(message.body) %>
    <% message.pictures.each do |message_picture| %>
      <%= image_tag message_picture.picture.url , class:"popupimg"%>
    <% end %>
  </div>
  <% if message.user_id == current_user.id %>
    <ul>
      <li>
        <div id="message-field__button">
          <%= button_to(users_message_path(current_user.id), data: { confirm: '本当に削除しますか？' }, method: :delete) do %>
            <p>削除</p>
          <% end %>
        </div>
      </li>
    </ul>
  <% end %>
</div>
<br />