<div class="message-field__content">
  <div class="message-field__profile">
    <%= link_to(users_basic_path(message.user)) do %>
      <% if message.user.picture? %>
        <%= image_tag message.user.picture.url %>
      <% else %>
        <%= image_tag 'default.jpeg' %>
      <% end %>
    <% end %>
  </div>
  <div class="message-field__message">
    <%= simple_format(message.body) %>
    <% message.pictures.each do |message_picture| %>
      <%= image_tag message_picture.picture.url , class:"popupimg"%>
    <% end %>
  </div>
</div>
<br />