<div class="common-form">
  <div class="common-form__container">
    <h4>プロフィール設定</h4>
    <%= form_with model: profile_form, url: url, method: method,  local: true do |f| %>
      <%= render "users/shared/error_messages", resource: profile_form %>

      <div class="field">
        <%= f.label :affiliation %>
        <div class="select-container">
          <%= f.select(:affiliation, ProfileForm::AFFILIATIONS.invert) %>
        </div>
      </div>

      <div class="field">
        <%= f.label :school %><br />
        <%= f.text_field :school %>
      </div>

      <div class="field">
        <%= f.label :faculty %><br />
        <%= f.text_field :faculty %>
      </div>

      <div class="field">
        <%= f.label :department %><br />
        <%= f.text_field :department %>
      </div>

      <div class="field">
        <%= f.label :laboratory %><br />
        <%= f.text_field :laboratory %>
      </div>

      <div class="field">
        <%= f.label :description %><br />
        <%= f.text_area :description %>
      </div>

      <div class="actions">
        <%= f.submit "保存" %>
      </div>

    <% end%>
  </div>
</div>
