<% provide(:title, @user.name) %>

<% if @user.picture? %>
  <%= image_tag @user.picture.url %>
<% else %>
  <%= image_tag "round-flask.jpeg" %>
<% end %>

<h3><%= @user.name %></h3>
<p><%= @user.profile %></p>

<% if user_signed_in? %>
  <% if current_user == @user || current_user.admin? %>
    <%= link_to 'プロフィールを編集', edit_user_registration_path %>
  <% end %>
<% end %>