<% provide(:title, @user.name) %>

<% if @user.picture? %>
  <%= image_tag @user.picture.url %>
<% else %>
  <%= image_tag "round-flask.jpeg" %>
<% end %>

<h3><%= @user.name %></h3>
<p><%= @user.profile %></p>

<% if current_user == @user || current_user.admin? %>
  <%= link_to 'プロフィールを編集', edit_user_registration_path %>
<% end %>

<% if current_user.admin? && current_user != @user %>
  <%= link_to 'このユーザーを削除', @user, method: :delete, data: { confirm: "本当に削除しますか？" } %>
<% end %>