<% provide(:title, @user.name) %>

<% if @user.picture? %>
  <%= image_tag @user.picture.url %>
<% else %>
  <%= image_tag "noimage.png" %>
<% end %>

<h3><%= @user.name %></h3>
<p><%= @user.profile %></p>

<% if @user == current_user %>
  <%= link_to 'プロフィールを編集', edit_user_registration_path %>
<% end %>
