<% provide(:title, "投稿情報") %>

<h3><%= @post.user.name %></h3>

<p><%= @post.title %></p>
<p><%= @post.content %></p>

<% @post.pictures.each do |picture| %>
  <%= image_tag picture.picture.url %>
<% end %>

<p><%= button_to "投稿の削除", admins_posts_path(@post), data: { confirm: "本当に削除しますか？" }, method: :delete %></p>
