<%= form_with model: reply_form, url: url, method: method, id: "reply-form" do |f| %>
  <div id="js-edit-reply-errors-<%= reply.id %>"></div>

  <%= f.hidden_field :post_id, value: post.id %>
  <%= f.hidden_field :answer_id, value: answer.id %>

  <% if reply.body.present? || reply.pictures.present? %>
    <%= f.hidden_field :id, value: "#{reply.id}" %>
  <% end %>

  <div class="field">
    <%= f.text_area :body, id: "reply-#{reply.id}-textarea", value: "#{reply.body}" %>
  </div>

  <div class="field">
    <%= f.fields_for :pictures do |picture| %>
      <%= picture.file_field :picture, multiple: "multiple", name: "reply_form[pictures_attributes][][picture]" %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit "リプライを編集" %>
  </div>

<% end%>

<%# 編集をキャンセルするボタンを設置 %>
<% if reply.body.present? || reply.pictures.present? %>
  <button id="edit-reply-cancel-<%= reply.id %>" class="edit-reply-cancel" data-reply-cancel="<%= reply.id %>">キャンセル</button>
<% end %>
