<div id="reply-container-<%= answer.id %>" class="reply-container">
  <% answer.replies&.order(created_at: :asc).each do |reply| %>
    <div id="reply-container__list-<%= reply.id %>" class="reply-container__list">
      <div id="reply-container__body-<%= reply.id %>" class="reply-container__body">
        <%= reply.body %>
      </div>
      <% unless reply.pictures.blank? %>
        <div id="reply-container__pictures-<%= reply.id %>" class="reply-container__pictures">
          <% reply.pictures.each do |picture| %>
            <%= image_tag asset_path(picture.picture.url), class:"popup-img" %>
          <% end %>
        </div>
      <% end %>
      <div id="edit-reply-form-<%= reply.id %>" class="edit-reply-form hide">
        <%= render "questions/shared/replies/edit_reply_form", reply_form: @reply, reply: reply, answer: answer, post: @post, url: questions_reply_path(reply), method: :patch %>
      </div>
      <% if current_user&.id == reply.user_id %>
        <div class="reply-container__edit">
          <i id="edit-reply-icon-<%= reply.id %>" class="fas fa-pen edit-reply-icon" data-reply-id="<%= reply.id %>"> 編集</i>
        </div>
      <% end %>
      <div class="reply-container__user-info">
        <div class="reply-container__img-and-name">
          <%= link_to(users_basic_path(reply.user)) do %>
            <%= image_tag asset_path(reply.user.profile_picture) %>
            <span><%= reply.user.name %></span>
          <% end %>
        </div>
        <div class="reply-container__created_at">
          <span>投稿 <%= l reply.created_at, format: :year %></span>
        </div>
      </div>
    </div>
  <% end %>
</div>
