<% provide(:title, @user.name) %>

<div class="information">
  <h4 class="information__title">プロフィール</h4>
</div>

<div class="profile">

  <div class="profile__picture">
    <% if @user.picture? %>
      <%= image_tag @user.picture.url %>
    <% else %>
      <%= image_tag "default.jpeg" %>
    <% end %>
  </div>

  <div class="profile__text">
    <% if @user.profile %>
      <div class="profile__text--top">
        <h3><%= @user.name %></h3>
        <div id="user_affiliation"><%= @user.profile.affiliation %></div>
      </div>
      <div class="profile__text--bottom">
        <%= @user.profile.content %>
      </div>
    <% end %>

    <div class="profile__edit">
      <% if user_signed_in? %>
        <% if current_user == @user %>
          <%= link_to 'ユーザー情報設定', edit_user_registration_path %>
          <% if @user.profile %>
            <%= link_to 'プロフィール設定', edit_users_profile_path(@user.profile) %>
          <% else %>
            <%= link_to 'プロフィール設定', new_users_profile_path %>
          <% end %>
        <% end %>
      <% end %>
    </div>
    
  </div>

  <% unless current_user == @user %>
    <% if @is_room == true %>
      <%= link_to "メッセージ", users_room_path(@room_id) %>
    <% else %>
      <%= form_with model: @entry.room, url: users_rooms_path, method: :post, local: true do |f| %>
        <%= f.fields_for @entry do |e| %>
          <%= e.hidden_field :user_id, value: @user.id %>
        <% end %>
        <%= f.submit 'メッセージ' %>
      <% end %>
    <% end %>
  <% end %>

  <h4>あなたが投稿した質問</h4>
  <% @user&.posts.each do |post| %>
    <%= link_to(questions_post_path(post)) do %>
      <%= post.title %>
    <% end %>
  <% end %>

</div>
