<% provide(:title, @user.name) %>

<div class="user-information">
  <div class="user-profile">
    <h4>プロフィール</h4>
    <div class="user-profile__picture">
      <%= image_tag asset_path(@user.profile_picture) %>
      <h5><%= @user.name %></h5>
    </div>
    <% if user_signed_in? %>
      <% if current_user == @user %>
        <div class="user-profile__edit">
          <div class="user-profile__edit-account">
            <%= link_to 'アカウント設定', edit_user_registration_path %>
          </div>
          <div class="user-profile__edit-profile">
            <% if @user.profile %>
              <%= link_to 'プロフィール設定', edit_users_profile_path(@user.profile) %>
            <% else %>
              <%= link_to 'プロフィール設定', new_users_profile_path %>
            <% end %>
          </div>
        </div>
      <% else %>
        <div class="user-profile__room-link">
          <% if @room_id.present? %>
            <%= button_to "メッセージルーム", users_room_path(@room_id), method: :get %>
          <% else %>
            <%= form_with model: @entry.room, url: users_rooms_path, method: :post, local: true do |f| %>
              <%= f.fields_for @entry do |e| %>
                <%= e.hidden_field :user_id, value: @user.id %>
              <% end %>
              <%= f.submit 'メッセージを始める' %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% end %>
    <div class="user-profile__details">
      <div class="user-profile__details--left">
        <div class="user-profile__detail">
          <h5>学校名</h5>
          <p><span class="mgl-4"></span><%= @user.profile&.school %></p>
        </div>
        <div class="user-profile__detail">
          <h5>学部・学科名</h5>
          <p><span class="mgl-4"></span><%= @user.profile&.faculty %></p>
        </div>
        <div class="user-profile__detail">
          <h5>学科・専攻・コース名</h5>
          <p><span class="mgl-4"></span><%= @user.profile&.department %></p>
        </div>
        <div class="user-profile__detail">
          <h5>研究室名</h5>
          <p><span class="mgl-4"></span><%= @user.profile&.laboratory %></p>
        </div>
        <div class="user-profile__detail">
          <h5>所属</h5>
          <p id="user-affiliation"><span class="mgl-4"></span><%= @user.profile&.translated_affiliation %></p>
        </div>
      </div>
      <div class="user-profile__details--right">
        <h5>自己紹介</h5>
        <p class="mgl-4"><%= @user.profile&.description %></p>
      </div>
    </div>
  </div>
</div>
<div class="user-question">
  <h4>投稿した質問</h4>
  <% @posts.each do |post| %>
    <%= link_to(questions_post_path(post)) do %>
      <div class="post-list">
        <div class="post-list__sub-info">
          <div class="post-list__status">
            <p class="post-status-<%= post.status %>"><%= post.translated_status %></p>
            <span>回答</span>
            <h5><%= post.answers.length %></h5>
          </div>
        </div>
        <div class="post-list__main-info">
          <div class="post-list__category-and-title">
            <p><%= post.category.parent.name %> > <%= post.category.name %></p>
            <h5><%= post.title %></h5>
          </div>
          <% if post.check_notice(post.user) == true && post.user == current_user %>
            <div class="post-list__notice">
              <p class="has-notice"></p>
              <p>新着のメッセージがあります</p>
            </div>
          <% end %>
          <div class="post-list__user-info">
            <span>投稿 <%= l post.created_at, format: :year %></span>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  <%= paginate @posts %>
</div>
