<% provide(:title, "検索結果") %>

<h3>検索結果</h3>

<% if @profiles.present? %>
  <% @profiles.each do |profile| %>
    <%= link_to users_basic_path(profile.user_id) do %>
      <%= image_tag profile.user.profile_picture %>
      <%= profile.user.name %>
      <%= profile.description %>
    <% end %>
  <% end %>
  <%= paginate @profiles %>
<% else %>
  <p>お探しのユーザーは見つかりませんでした。</p>
<% end %>
