<% provide(:title, "メッセージ") %>

<h3>メッセージ</h3>

<div class="room-list">
  <% @another_entries.each do |entry| %>
    <ul>
      <li>
        <%= link_to(users_basic_path(entry.user)) do %>
          <div class="room-list__image">
            <% if entry.user.picture? %>
              <%= image_tag entry.user.picture.url %>
            <% else %>
              <%= image_tag 'default.jpeg' %>
            <% end %>
          </div>
        <% end %>
        <%= link_to(users_room_path(entry.room)) do %>
          <div class="room-list__text">
            <p><%= entry.user.name %></p>
            <p><%= Message.find_by(id: entry.room.message_ids.last)&.body %></p>
          </div>
        <% end %>
      </li>
    </ul>
  <% end %>
</div>