<% provide(:title, @another_entry.user.name) %>

<h3><%= link_to @another_entry.user.name, users_basic_path(@another_entry.user) %></h3>

<%= render "users/shared/error_messages", resource: @message %>

<div class="message-field container">
  <div id="message-field__scroll">
    <% @room.messages.each do |message| %>
      <% if message.user_id == current_user.id %>
        <div class="right-message">
          <%= render "users/shared/message_field", message: message %>
        </div>
      <% else %>
        <div class="left-message">
          <%= render "users/shared/message_field", message: message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div id="popup-background"></div>
  <img id="popup-item" src="" />
</div>

<div class="preview-field container">
  <div class="insert-point"></div>
</div>

<%= form_with model: @message, url: users_messages_path, local: true do |f| %>
  <%= f.hidden_field :room_id, value: @room.id %>

  <div class="post-field container">
    <div class="post-field__picture">
      <label for="picture-file" >
        <i id="picture-file-icon" class="fas fa-camera"></i>
      </label>
      <%= f.fields_for :pictures do |picture| %>
        <%= picture.file_field :picture, type: 'file', multiple: "multiple", name: "message_form[pictures_attributes][][picture]", value: "", style: "display:none", id: "picture-file" %>
      <% end %>
    </div>
    <div class="post-field__textarea">
      <%= f.text_area :body, :placeholder => "新しいメッセージを作成" %>
    </div>
    <div class="post-field__submit" >
      <%= button_tag type: 'submit', class:"submit-btn" do %>
        <i class="fas fa-paper-plane"></i>
      <% end %>
    </div>
  </div>

<% end %>
