<% provide(:title, @another_entry.user.name) %>

<h3><%= link_to @another_entry.user.name, users_basic_path(@another_entry.user) %></h3>

<% @room.messages.each do |message| %>
  <ul>
    <li>
      <%= link_to message.user.name, users_basic_path(message.user) %><br />
      <%= message.body %><br />
    </li>
  </ul>
<% end %>

<%= form_with model: @message, url: users_messages_path, local: true do |f| %>
  <%= f.hidden_field :room_id, value: @room.id %>

  <div class="field" >
    <%= f.label :body %><br />
    <%= f.text_field :body %>
    <%= f.fields_for :pictures, @message.pictures.build do |pi| %>
      <%= pi.file_field :picture %>
    <% end %>
  </div>

  <div class="actions" >
    <%= f.submit '送信' %>
  </div>

<% end %>