<% provide(:title, @another_entry.user.name) %>

<h3><%= link_to @another_entry.user.name, users_basic_path(@another_entry.user) %></h3>

<div class="message-field container">
  <div id="message-field__scroll">
    <% @room.messages.each do |message| %>
      <% if message.user_id == current_user.id %>
        <div class="right-message">
          <%= render "users/shared/message_field", message: message %>
        </div>
      <% else %>
        <div class="left-message">
          <%= render "users/shared/message_field", message: message %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<%= form_with model: @message, url: users_messages_path, local: true do |f| %>
  <%= f.hidden_field :room_id, value: @room.id %>

  <div class="post-field container" >
    <label for="picture-file" >
      <i class="fas fa-camera"></i>
    </label>
    <%= f.text_area :body, :placeholder => "新しいメッセージを作成してください" %>
    <div class="actions" >
      <%= button_tag type: 'submit', class:"submit-btn" do %>
        <i class="fas fa-paper-plane"></i>
      <% end %>
    </div>
  </div>

  <div id="picture-box">
    <div id="picture-box__container" >
      <%= f.fields_for :pictures, @message.pictures.build do |pi| %>
        <%= pi.file_field :picture, type: 'file', multiple: "multiple", name: "message[pictures_attributes][][picture]", value: "", style: "display:none", id: "picture-file" %>
      <% end %>
    </div>
  </div>

<% end %>