<% provide(:title, @another_entry.user.name) %>

<h3><%= link_to @another_entry.user.name, users_basic_path(@another_entry.user) %></h3>

<div class="message-field">
  <% @room.messages.each do |message| %>
    <div class="message-field__content">
      <div class="message-field__content--profile">
        <%= link_to(users_basic_path(message.user)) do %>
          <% if message.user.picture? %>
            <%= image_tag message.user.picture.url %>
          <% else %>
            <%= image_tag 'default.jpeg' %>
          <% end %>
        <% end %>
      </div>
      <div class="message-field__content--message">
        <%= message.body %><br />
        <% message.pictures.each do |message_picture| %>
          <%= image_tag message_picture.picture.url %>
        <% end %>
      </div>
    </div>
  <% end %>
 </div>

<%= form_with model: @message, url: users_messages_path, local: true do |f| %>
  <%= f.hidden_field :room_id, value: @room.id %>

  <div class="field" >

    <div class="post-field" >
      <%= f.label :body %><br />
      <%= f.text_field :body %>
      <label for="picture-file" >
        <i class="fas fa-camera"></i>
      </label>
    </div>

    <div id="picture-box">
      <div id="picture-box__container" >
        <%= f.fields_for :pictures, @message.pictures.build do |pi| %>
          <%= pi.file_field :picture, type: 'file', multiple: "multiple", name: "message[pictures_attributes][][picture]", value: "", style: "display:none", id: "picture-file" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="actions" >
    <%= f.submit '送信' %>
  </div>

<% end %>