<% provide(:title, @another_entry.user.name) %>

<h3><%= link_to @another_entry.user.name, users_basic_path(@another_entry.user) %></h3>

<% @room.messages.each do |message| %>
  <ul>
    <li>
      <%= link_to message.user.name, users_basic_path(message.user) %><br />
      <%= message.body %><br />
      <% message.pictures.each do |message_picture| %>
        <%= image_tag message_picture.picture.url %>
      <% end %>
    </li>
  </ul>
<% end %>

<%= form_with model: @message, url: users_messages_path, local: true do |f| %>
  <%= f.hidden_field :room_id, value: @room.id %>

  <div class="field" >
    <%= f.label :body %><br />
    <%= f.text_field :body %>
    <div id="picture-box">
      <div class="picture-num-0" id="picture-box__container" >
        <%= f.fields_for :pictures, @message.pictures.build do |pi| %>
          <%= pi.file_field :picture, type: 'file', name: "message[pictures_attributes][][picture]", value: "", style: "display:none", id: "picture-file" %>
          <label for="picture-file">
            <i class="fas fa-camera"></i>
          </label>
        <% end %>
      </div>
    </div>
  </div>

  <div class="actions" >
    <%= f.submit '送信' %>
  </div>

<% end %>