<% provide(:title, "あなたの回答") %>

<h4>あなたの回答</h4>
<% if @comment_lists.blank? %>
  <p class="no-result">まだ質問に回答していません</p>
<% else %>
  <% @comment_lists.each do |comment_list| %>
    <%= link_to(questions_post_path(comment_list.post)) do %>
      <div class="post-list">
        <div class="post-list__sub-info">
          <div class="post-list__status">
            <p class="post-status-<%= comment_list.post.status %>"><%= comment_list.post.translated_status %></p>
            <span>回答</span>
            <h5><%= comment_list.post.answers.length %></h5>
          </div>
        </div>
        <div class="post-list__main-info">
          <div class="post-list__category-and-title">
            <p><%= comment_list.post.category.parent.name %> > <%= comment_list.post.category.name %></p>
            <h5><%= comment_list.post.title %></h5>
          </div>
          <% if comment_list.notice == true %>
            <div class="post-list__notice">
              <p class="has-notice"></p>
              <p>新着のメッセージがあります</p>
            </div>
          <% end %>
          <div class="post-list__user-info">
            <span>投稿 <%= l comment_list.post.created_at, format: :year %></span>
            <%= image_tag asset_path(comment_list.post.user.profile_picture) %>
            <p><%= comment_list.post.user.name %></p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  <%= paginate @comment_lists %>
<% end %>
