<%# 回答と回答に紐づいたリプライを表示 %>
<div class="comment-list">
  <% answers&.each do |answer| %>
    <div id="display-<%= answer.id %>">
      <div id="display-answer-<%= answer.id %>">
        <div id="answer-contents-<%= answer.id %>">
          <div class="answer-username"><%= answer.user.name %></div>
          <div class="answer-createdat"><%= l answer.created_at, format: :month %></div>
          <div class="answer-body"><%= answer.body %></div>
          <div class="answer-pictures">
            <% answer.pictures.each do |picture| %>
              <%= image_tag picture.picture.url %>
            <% end %>
          </div>
          <% if current_user.id == answer.user_id %>
            <i class="fas fa-pen edit-answer-icon" data-answer-id="<%= answer.id %>"></i>
          <% end %>
        </div>
        <div id="edit-answer-form-<%= answer.id %>" class="edit-answer-form hide">
          <%= render "questions/shared/answers/edit_answer_form", answer_form: @answer, answer: answer, post: @post, url: questions_answer_path(answer), method: :patch %>
        </div>
      </div>
      <div id="display-reply-<%= answer.id %>">
        <% answer.replies&.order(created_at: :asc).each do |reply| %>
          <div id="reply-contents-<%= reply.id %>">
            <div class="reply-username"><%= reply.user.name %></div>
            <div class="reply-createdat"><%= l reply.created_at, format: :year %></div>
            <div class="reply-body"><%= reply.body %></div>
            <div class="reply-pictures">
              <% reply.pictures.each do |picture| %>
                <%= image_tag picture.picture.url %>
              <% end %>
            </div>
            <% if current_user.id == reply.user_id %>
              <i class="fas fa-pen edit-reply-icon" data-reply-id="<%= reply.id %>"></i>
            <% end %>
          </div>
          <div id="edit-reply-form-<%= reply.id %>" class="edit-reply-form hide">
            <%= render "questions/shared/replies/edit_reply_form", reply_form: @reply, reply: reply, answer: answer, post: @post, url: questions_reply_path(reply), method: :patch %>
          </div>
        <% end %>
      </div>
      <%= render "questions/shared/replies/new_reply_form", reply: @reply, answer: answer, post: @post, url: questions_replies_path, method: :post %>
    </div>
  <% end %>
</div>
