<div class="display-comment">
  <% answers&.each do |answer| %>
    <div class="comment-container">
      <%# 回答表示部 %>
      <div class="answer-container">
        <div class="answer-container__details">
          <% if @post.best_answer_id == answer.id %>
            <div class="answer-container__best-answer-title">
              <span>ベストアンサー</span>
            </div>
          <% end %>
          <div id="answer-container__body-<%= answer.id %>" class="answer-container__body">
            <%= answer.body %>
          </div>
          <div class="answer-container__pictures">
            <% answer.pictures.each do |picture| %>
              <%= image_tag picture.picture.url %>
            <% end %>
          </div>
          <div id="edit-answer-form-<%= answer.id %>" class="edit-answer-form hide">
            <%= render "questions/shared/answers/edit_answer_form", answer_form: @answer, answer: answer, post: @post, url: questions_answer_path(answer), method: :patch %>
          </div>
        </div>
        <%# 回答下部の編集ボタンとユーザー情報 %>
        <% if current_user&.id == answer.user_id %>
          <div class="answer-container__edit">
            <i id="edit-answer-icon-<%= answer.id %>" class="fas fa-pen edit-answer-icon" data-answer-id="<%= answer.id %>"> 編集</i>
          </div>
        <% end %>
        <div class="answer-container__user-info">
          <% if current_user&.id == @post.user_id && @post.best_answer_id.blank? %>
            <%= render "questions/shared/best_answer_form", post: PostForm.new, answer: answer, url: select_best_answer_questions_post_path(@post), method: :patch %>
          <% end %>
          <span>投稿 <%= l answer.created_at, format: :year %></span>
          <%= link_to(users_basic_path(answer.user)) do%>
            <%= image_tag asset_path(answer.user.profile_picture) %>
            <h5><%= answer.user.name %></h5>
          <% end %>
        </div>
      </div>
      <%# 回答に紐づくリプライ %>
      <div id="reply-container-<%= answer.id %>" class="reply-container">
        <% answer.replies&.order(created_at: :asc).each do |reply| %>
          <div id="reply-container__list-<%= reply.id %>" class="reply-container__list">
            <div id="reply-container__body-<%= reply.id %>" class="reply-container__body">
              <%= reply.body %>
            </div>
            <div class="reply-container__pictures">
              <% reply.pictures.each do |picture| %>
                <%= image_tag picture.picture.url %>
              <% end %>
            </div>
            <div id="edit-reply-form-<%= reply.id %>" class="edit-reply-form hide">
              <%= render "questions/shared/replies/edit_reply_form", reply_form: @reply, reply: reply, answer: answer, post: @post, url: questions_reply_path(reply), method: :patch %>
            </div>
            <% if current_user&.id == reply.user_id %>
              <div class="reply-container__edit">
                <i id="edit-reply-icon-<%= reply.id %>" class="fas fa-pen edit-reply-icon" data-reply-id="<%= reply.id %>"> 編集</i>
              </div>
            <% end %>
            <%# リプライ下部のユーザー情報 %>
            <div class="reply-container__user-info">
              <span>投稿 <%= l reply.created_at, format: :year %></span>
              <%= link_to(users_basic_path(reply.user)) do %>
                <%= image_tag asset_path(reply.user.profile_picture) %>
                <h5><%= reply.user.name %></h5>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <%= render "questions/shared/replies/new_reply_form", reply: @reply, answer: answer, post: @post, url: questions_replies_path, method: :post %>
    </div>
  <% end %>
</div>
