<%= form_with model: answer_form, url: url, method: method, id: 'answer_form' do |f| %>
  <div class="js-answer-errors"></div>

  <%= f.hidden_field :post_id, value: @post.id %>

  <% if answer.body.present? || answer.pictures.present? %>
    <%= f.hidden_field :id, value: "#{answer.id}" %>
  <% end %>

  <div class="field">
    <%= f.text_area :body, id: "answer-form-#{answer.id}-textarea", value: "#{answer.body}" %>
  </div>

  <div class="field attached-pictures">
    <label for="picture-file" >
      <p>画像</p>
      <i id="picture-file-icon" class="fas fa-plus-circle"></i>
    </label>
    <%= f.fields_for :pictures do |picture| %>
      <%= picture.file_field :picture, multiple: "multiple", name: "answer_form[pictures_attributes][][picture]", id: "picture-file" %>
    <% end %>
  </div>

  <div class="submit-or-cancel">
    <%# 編集をキャンセルするボタンを設置 %>
    <div id="edit-answer-cancel-<%= answer.id %>" class="edit-answer-cancel" data-answer-cancel="<%= answer.id %>">キャンセル</div>
    <div class="actions">
      <%= f.submit "回答を編集" %>
    </div>
  </div>

<% end%>
