<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="content">
      <header>
        <nav>
          <%= link_to "Best-Lab", root_path %>
          <% if user_signed_in? %>
            <%= link_to 'プロフィール', users_basic_path(current_user) %>
            <%= link_to '質問を投稿する', new_questions_post_path %>
            <%= link_to 'あなたの回答', questions_answers_path %>
            <%= link_to 'メッセージ', users_rooms_path %>
            <%= button_to 'ログアウト', destroy_user_session_path, method: :delete %>
          <% elsif admin_signed_in? %>
            <%= button_to 'ログアウト', destroy_admin_session_path, method: :delete %>
          <% else %>
            <%= link_to '新規登録', new_user_registration_path %>
            <%= link_to 'ログイン', new_user_session_path %>
          <% end %>
        </nav>
      </header>

      <p><%= alert %></p>
      <p><%= notice %></p>

      <% if current_page?(root_path) %>
        <% if admin_signed_in? %>
          <main id="primary">
            <%= yield %>
          </main>
          <aside id="secondary">
            <div class="sidebar__for-admin">
              <%= render 'admins/shared/user_search_form' %>
            </div>
          </aside>
        <% else %>
          <%= yield %>
        <% end %>
      <% else %>
        <div class="yield">
          <main id="primary">
            <%= yield %>
          </main>
          <aside id="secondary">
            <% if admin_signed_in? %>
              <div class="sidebar__for-admin">
                <%= render 'admins/shared/user_search_form' %>
              </div>
            <% end %>
            <div class="sidebar__for-users">
              <div class="sidebar__for-users--top">
                <%= render 'users/shared/search_form' %>
              </div>
              <div class="sidebar__for-users--bottom">
                <%= render 'questions/shared/search_form' %>
              </div>
            </div>
          </aside>
        </div>
      <% end %>

      <footer>
        <nav>
          <% if user_signed_in? %>
            <%= link_to 'プロフィール', users_basic_path(current_user) %>
            <%= link_to '質問を投稿する', new_questions_post_path %>
            <%= link_to 'あなたの回答', questions_answers_path %>
            <%= link_to 'メッセージ', users_rooms_path %>
            <%= button_to 'ログアウト', destroy_user_session_path, method: :delete %>
          <% elsif admin_signed_in? %>
            <%= button_to 'ログアウト', destroy_admin_session_path, method: :delete %>
          <% else %>
            <%= link_to '新規登録', new_user_registration_path %>
            <%= link_to 'ログイン', new_user_session_path %>
          <% end %>
          <small>&copy; 2021 Best-Lab All rights reserved.</small>
        </nav>
      </footer>

    </div>
  </body>
</html>
