<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="content">
      <header>
        <nav>
          <%= link_to "Best-Lab", root_path %>
          <% if user_signed_in? %>
            <%= link_to 'プロフィール', users_basic_path(current_user) %>
            <%= link_to '質問を投稿する', new_questions_post_path %>
            <%= link_to 'メッセージ', users_rooms_path %>
            <%= button_to 'ログアウト', destroy_user_session_path, method: :delete %>
          <% elsif admin_signed_in? %>
            <%= button_to 'ログアウト', destroy_admin_session_path, method: :delete %>
          <% else %>
            <%= link_to '新規登録', new_user_registration_path %>
            <%= link_to 'ログイン', new_user_session_path %>
          <% end %>
        </nav>
      </header>

      <p><%= alert %></p>
      <p><%= notice %></p>

      <div class="yield">
        <%= yield %>
      </div>

      <% unless current_page?(root_path) %>
        <% if user_signed_in? %>
          <%= render 'users/shared/search_form' %>
          <%= render 'questions/shared/search_form' %>
        <% end %>
      <% end %>

      <% if admin_signed_in? %>
        <%= render 'admins/shared/user_search_form' %>
      <% end %>

    </div>
  </body>
</html>
