<% provide(:title, "アカウント設定") %>

<h3>アカウント設定</h3>

<%= form_with model: resource, url: user_registration_path, local: true do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :picture %><br />
    <%= f.file_field :picture %>
  </div>

  <div class="field">
    <%= f.label :password %> <i>(変更しない場合はスキップ)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "保存" %>
  </div>
<% end %>

<p><%= button_to "アカウントの削除", registration_path(resource_name), data: { confirm: "本当に削除しますか？" }, method: :delete %></p>

<%= link_to "戻る", :back %>
